*{
  padding:0;
  margin:0;
  list-style: none;
  outline: none;
}
*::-webkit-scrollbar{width: 4px;height: 12px;}
*::-webkit-scrollbar-track { background: #efefef; border-radius: 10px;}
*::-webkit-scrollbar-thumb {background: #ccc;border-radius: 10px;}
